* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* :hover {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

* :focus {
  outline: none;
}

* A {
  text-decoration: none;
}

/*Smooth Behavior*/
html {
  scroll-behavior: smooth;
}

/*ColorScheme
    $dPink: #D4498F;
    $lPink: #EF65A5;

*/
/*Select Color*/
::-moz-selection {
  background-color: #28282b;
  color: white;
}
::selection {
  background-color: #28282b;
  color: white;
}

/*ScrolBar Color*/
::-moz-selection {
  color: white;
  background: #151418;
}

::selection {
  color: white;
  background: #151418;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #151418;
}

::-webkit-scrollbar-thumb {
  background: #252525;
}

body {
  width: 100%;
  height: 100%;
  background-color: #18181a;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

/*GoToTopButton*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  border: none;
  outline: none;
  background-color: #380db8;
  cursor: pointer;
  padding: 12px 17px;
  border-radius: 50px;
  font-size: 18px;
  color: white;
}

/*Header*/
.nav-bar {
  width: 100%;
}

.nav-bar .nav-con {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 20px 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar .nav-con .nav-1 a {
  text-decoration: none;
  color: white;
  font-size: 26px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-bar .nav-con .nav-1 a span {
  color: #784ff2;
}

.nav-bar .nav-con .nav-1 a:hover {
  letter-spacing: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-bar .nav-con .nav-2 ul {
  padding-top: 5px;
}

.nav-bar .nav-con .nav-2 ul a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 0px 35px;
  font-size: 13px;
  margin-left: 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-bar .nav-con .nav-2 ul a:hover {
  color: #380db8;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-bar .nav-con .nav-2 ul .hire {
  padding: 12px 40px;
  background-color: #380db8;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.nav-bar .nav-con .nav-3 {
  display: none;
}

.nav-bar .nav-con .nav-3 button {
  background-color: transparent;
  border: none;
}

.nav-bar .nav-con .nav-3 button i {
  font-size: 25px;
  color: white;
}

/*SideNavbar*/
.side {
  position: fixed;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999;
  background-color: rgba(32, 32, 34, 0.5);
  overflow: hidden;
}

.side .side-con {
  max-width: 350px;
  padding: 50px 1em;
  background-color: #18181a;
  height: 100%;
}

.side .side-con button {
  border: none;
  background-color: transparent;
  float: right;
  margin-bottom: 30px;
}

.side .side-con button i {
  padding: 15px 17px;
  border-radius: 50px;
  background-color: #373636;
  color: white;
}

.side .side-con ul {
  list-style: none;
  border-bottom: 1px #252525 solid;
  padding: 50px 0px;
}

.side .side-con ul li {
  margin: 30px 0px;
}

.side .side-con ul li a {
  color: white;
  font-size: 22px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.side .side-con ul li i {
  color: white;
  font-size: 22px;
  margin-right: 20px;
}

.side .side-con ul li a:hover {
  letter-spacing: 5px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.side .side-con .link {
  text-decoration: none;
  color: white;
  font-size: 26px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: absolute;
  bottom: 20px;
  left: 70px;
}

.side .side-con .link span {
  color: #784ff2;
}

/*FAQ*/
.faq {
  width: 100%;
  height: 100%;
}

.faq .faq-con {
  max-width: 1200px;
  height: 100%;
  padding: 50px 1em;
  margin: auto;
}

.faq .faq-con .details {
  text-align: center;
  margin-bottom: 30px;
}

.faq .faq-con .details .upper {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #909094;
  font-size: 18px;
  font-weight: 100;
}

.faq .faq-con .details .title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 60px;
}

.faq .faq-con .details p {
  color: #909094;
  font-size: 16px;
  width: 100%;
  margin: auto;
  line-height: 30px;
}

.faq .faq-con .collapsible {
  background-color: #202022;
  color: #bfbfbf;
  cursor: pointer;
  padding: 50px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

.faq .faq-con .collapsible span {
  float: right;
}

.faq .faq-con .active,
.faq .faq-con .collapsible:hover {
  background-color: #28282b;
}

.faq .faq-con .content {
  padding: 20px;
  display: none;
  overflow: hidden;
  margin-bottom: 80px 20px;
  color: white;
  background-color: #242424;
  font-family: 'Raleway', sans-serif;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  margin-bottom: 20px;
}

.faq .faq-con .content p {
  font-size: 14px;
  line-height: 30px;
}

/*Footer*/
.footer {
  width: 100%;
  height: 100%;
  background-color: #202022;
}

.footer .footer-con {
  max-width: 1300px;
  height: 100%;
  margin: auto;
  padding: 100px 1em 20px 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.footer .footer-con .footer-box {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.footer .footer-con .footer-box h2 {
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  color: white;
  margin-bottom: 30px;
}

.footer .footer-con .footer-box p {
  color: gray;
  line-height: 30px;
  margin-bottom: 30px;
}

.footer .footer-con .footer-box ul li {
  list-style: none;
  margin: 20px 0px;
  color: gray;
}

.footer .footer-con .footer-box ul li a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .footer-con .footer-box ul li a:hover {
  margin-left: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer .footer-con .footer-box ul li i {
  color: #eeeeee;
  margin-right: 10px;
}

.footer .footer-con .footer-box ul a {
  text-decoration: none;
  margin-right: 20px;
}

.footer .footer-con .footer-box ul a i {
  color: #eeeeee;
  background-color: #444444;
  padding: 10px;
  border-radius: 50px;
  font-size: 22px;
}

.footer .footer-con .big-box {
  width: 150%;
}

/*Copyrights*/
.copy-rights {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #202022;
  padding: 30px 1em 150px 1em;
  margin: auto;
  overflow: hidden;
}

.copy-rights p {
  color: white;
  font-size: 14px;
}

.copy-rights p i {
  color: red;
}

/*Responsive*/
@media screen and (max-width: 1055px) {
  .price .price-con .price-box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 915px) {
  .header {
    height: 100%;
  }
  .header .info {
    max-width: 1200px;
    text-align: center;
    color: white;
    margin: auto;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    padding: 100px 1em;
  }
  .header .info h1 {
    color: white;
    font-size: 80px;
    margin-bottom: 30px;
  }
  .header .info p {
    font-size: 17px;
    margin-bottom: 40px;
  }
  .header .info ul a {
    background-color: #380db8;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    border: 2px #380db8 solid;
    margin: 0px 10px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header .info ul a:hover {
    background-color: #252525;
    color: white;
    border: 2px white solid;
    letter-spacing: 5px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header .info ul .active {
    background-color: transparent;
    border: 2px white solid;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .header .info ul .active:hover {
    background-color: white;
    color: #252525;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
}

@media screen and (max-width: 910px) {
  #nav2 {
    display: none;
  }
  #nav3 {
    display: block;
  }
  .footer .footer-con {
    display: block;
  }
  .footer .footer-con .footer-box {
    margin-bottom: 50px;
  }
  .footer .footer-con .big-box {
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  .about .about-con .about-box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .service .service-con .service-box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 770px) {
  .header .info h1 {
    font-size: 50px;
  }
  .header .info p {
    font-size: 17px;
    margin-bottom: 40px;
  }
  .header .info ul a {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 750px) {
  .price .price-con .price-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 590px) {
  .about .about-con .about-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 560px) {
  .service .service-con .service-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 505px) {
  .header .info h1 {
    font-size: 30px;
  }
  .header .info p {
    font-size: 15px;
    margin-bottom: 40px;
  }
  .header .info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .info ul a {
    padding: 10px 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  .contact .contact-con .form form .flex {
    display: block;
  }
}
/*# sourceMappingURL=faq.css.map */